body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

#map {
    height: 500px;
    width: 100%;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

.filter-panel {
    margin-bottom: 10px;
}